*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:focus {
    outline: none;
}
