html,
body {
    height: 100%;
    font-family: var(--font-main), sans-serif;
    background-color: var(--gray-100);
    color: var(--black);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 12vh 20px;
}
