---
interface Props {
    lang: "ru" | "en";
    title: string;
    description?: string;
}

const { lang, title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={description ?? ""} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
