/* --- Подложка резюме --- */
.main {
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 4px 10px var(--gray-400);
    padding: 60px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: fit-content;
}

/* --- Общие стили --- */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.container-heading {
    width: 100%;
    font-size: 1.5em;
    color: var(--black);
}

.animated-link,
.contact-container a,
.projects-container a {
    font-family: var(--font-monospace), monospace;
    color: var(--gray-700);
    position: relative;
    text-decoration: none;
    transition: color 0.1s ease;
}

.animated-link::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--gray-600);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.animated-link:hover,
.contact-container a:hover,
.projects-container a:hover {
    color: var(--gray-800);
}

.animated-link:hover::after {
    transform: scaleX(1);
}

.copy-text {
    font-family: var(--font-monospace), monospace;
    color: var(--gray-700);
    position: relative;
    text-decoration: none;
    padding: 1px 2px;
    border-radius: 1px;
    transition: outline 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}

.copy-text:hover {
    outline: 1px solid var(--gray-600);
    box-shadow: none;
}

strong {
    font-family: var(--font-monospace), monospace;
}

.timestamp {
    font-family: var(--font-monospace), monospace;
    font-size: 0.8em;
    flex: 0 0 200px;
    text-align: right;
    color: var(--gray-700);
}

/* --- О себе --- */
#about .container-heading {
    display: none;
}

.about-container {
    margin-left: 0;
    display: flex;
    gap: 20px;
}

.about-info {
    flex: 1;
}

.about-info h3 {
    font-size: 1.1em;
    font-family: var(--font-monospace), monospace;
    font-style: italic;
    font-weight: normal;
    color: var(--gray-800);
}

.about-info p {
    margin: 10px 0;
    color: var(--gray-700);
}

.about-container img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 2px;
}

/* --- Контакты --- */
.contact-container {
    display: flex;
    gap: 40px;
}

.contact-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-container li {
    margin-bottom: 10px;
    font-family: var(--font-monospace), monospace;
    font-size: 0.9em;
    color: var(--gray-700);
}

.copy-text {
    font-family: var(--font-monospace), monospace;
    color: var(--gray-700);
    position: relative;
    text-decoration: none;
    padding: 1px 2px;
    border-radius: 1px;
    transition: outline 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}

/* --- Навыки --- */
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-list li {
    font-family: var(--font-monospace), monospace;
    font-size: 0.9em;
    background-color: var(--gray-200);
    color: var(--gray-900);
    padding: 3px 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.skill-list li:hover {
    background-color: var(--gray-300);
}

/* --- Опыт работы --- */
.experience-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 20px;
}

.job-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.job-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.job-info h3 {
    font-size: 1.1em;
    color: var(--black);
}

.job-info h4 {
    font-size: 0.9em;
    color: var(--gray-700);
}

.job-info p {
    font-size: 0.9em;
    color: var(--gray-800);
    margin: 0 0 10px 0;
}

/* --- Образование --- */
.education-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.edu-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.edu-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.edu-info h3 {
    font-size: 1.1em;
    color: var(--black);
}

.edu-info h4 {
    font-size: 0.9em;
    color: var(--gray-700);
}

.edu-info p {
    font-size: 0.9em;
    color: var(--gray-800);
}

/*--- Проекты ---*/
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 0;
}

.project-card {
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card:hover {
    border-color: var(--gray-800);
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.project-header h3 {
    font-size: 1em;
    margin: 0;
}

.project-header a {
    font-size: 0.9em;
    position: relative;
    text-decoration: none;
    display: inline-block;
    align-self: flex-start;
    line-height: normal;
}

.project-card p {
    font-size: 0.9em;
    color: var(--gray-700);
}

.project-card .skill-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
