/* --- Печать --- */
@media print {
    html, body, .wrapper * {
        visibility: hidden;
    }

    .main, .main * {
        visibility: visible;
    }

    .main {
        background-color: var(--white);
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        max-width: none;
        max-height: none;
    }

    .animated-link::after,
    .copy-text {
        display: none;
    }
}
